<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Model.Properties.Settings.accountantsConnectionString"
      connectionString="Data Source=PETERADAMS\SQLEXPRESS;Initial Catalog=accountants;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
    <add name="Model.Properties.Settings.accountantsEntities" connectionString="metadata=res://*/Entities.Model1.csdl|res://*/Entities.Model1.ssdl|res://*/Entities.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PETERADAMS\SQLEXPRESS;Initial Catalog=accountants;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" />
  </connectionStrings>
</configuration>